<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <title>Babinsky - Ontology</title>
</head>
<body>
    <div class="container">
        <div class="container-header">
            <button class="chat-bot">
                Chat Bot
            </button>
            <button class="visu-bulble">
                Visualisation Bulle
            </button>
            <a href="{{ url_for('visu_vector') }}" class="header-btn visu-vector">Visualisation Vectorielle</a>
        </div>
        <div class="container-lower">
            <h1>Welcome In Babinsky</h1>
                <form method="POST" style="display: inline;">
                    <input type="text" name="question" placeholder="Quelle est votre question ?">
        </div>
    </div>

    <!-- <form action="/run" method="post">
        <button type="submit">Lancer l’analyse</button>
    </form> -->
</body>
</html>